In [6]:
#Import all the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Importing the Data into the notebook

In [7]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [8]:
# getting the shape of the train and test set
print(train.shape)
print(test.shape)

(42000, 785)
(28000, 784)

In [16]:
#displaying the last 5 row of train set
train.tail()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#getting the label and the features
X = train.drop('label',1)
y = train['label']

### Splitting the training dataset into 30000 for training and 12000 test set

In [30]:
X_train, X_test, y_train, y_test = X[:30000],X[30000:],y[:30000],y[30000:]

In [33]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier()
clf.fit(X_train,y_train)

score = clf.score(X_test,y_test)
score

/home/korede/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

0.8834166666666666

In [81]:
sgd_clf.classes_

array([False,  True])

# making prediction on 5

## testing the model on 5(number)

In [54]:
some_digit =(X[30000:])

some_digit.shape

(12000, 784)

In [55]:
y_train_5 = (y_train == 5)
y_test_5 = (y_test == 5)

In [56]:
sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train_5)
sgd_clf.score(X_test,y_test_5)
score

/home/korede/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

0.8834166666666666

In [80]:
sgd_clf.classes_

array([False,  True])

In [71]:
pred = sgd_clf.predict(test)

In [76]:
result = {'Label':pred}

In [77]:
result = pd.DataFrame(result)
result

       Label
0      False
1      False
2       True
3      False
4      False
...      ...
27995  False
27996  False
27997  False
27998  False
27999  False

[28000 rows x 1 columns]